*{
  margin:0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #f0f0f0;
}


%arrow{
  content:'';
  display: block;
  width: 0;
  height: 0;
  border: 12px solid transparent;
  position: absolute;
  top:30px;
  transform: translateY(-50%);
}

.wechat{
    clear: both;
    display: table;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 16px 20px;
    padding-bottom: 120px;

    li{
      margin-bottom: 40px;
      .bubble{
        padding: 16px 30px;
        min-height: 60px;
        position: relative;
        text-align: left;
        line-height: 60px;
        font-size: 24px;
        border-radius: 4px;
        background: #fff;
      }
      .portrait{
        width: 90px;
        height: 90px;
        border-radius: 50px;
        position: relative;
        top: 40px;
      }
      .radio{
        display: inline-block;
        position: relative;
        .icon-play{
          display: block;
          width: 100px;
          height: 100px;
          background: url(../img/play.svg);
          background-size: cover;
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform:translate(-50%,-50%);
          transform:translate(-50%,-50%);
        }
        img{
          vertical-align:middle;
        }
        &:before{
          content : '';
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.5);
        }
      }

      &:after{
        content:'';
        display: block;
        clear: both;
        width: 0;
        height: 0;
      }
    }


    .content{
        max-width:560px; 

        p{
          margin-left:24px;
          margin-bottom: 10px;
          font-size: 24px;
          height: 32px;
          color: #b0b0b0;
        }

    }

    .mine{
      .content{
        float: left;
        margin:0 0 0 24px;
      }
      .portrait{
          float: left;
        }
      .bubble{
        &:before{
          @extend %arrow;
          border-right-color: #fff;
          left: -24px;
        }
      }
    }

    .others{
        .content{
          float: right;
          margin:0 24px 0 0;
        }
        .portrait{
          float: right;
        }
        p{
          margin:0 24px 10px 0;
          text-align: right;
        }
        .bubble{
          &:before{
            @extend %arrow;
            border-left-color: #fff;
            right: -24px;
          }
        }
      }
}

.input-wrapper{
  width: 100%;
  height: 100px;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
  background: #fff;
  border-top: 1px solid #ccc;
  padding: 8px 20px;
  box-sizing: border-box;
  input{
    display: block;
    float: left;
    width: 74%;
    height: 80px;
    margin-right: 4%;
    border :none;
    border-bottom: 1px solid #bbb;
    outline: 0;
    font-size: 28px;
    padding-left: 14px;
    box-sizing: border-box;
    background: #fff;
  }
  button{
    display: block;
    float: left;
    width: 20%;
    height: 70px;
    line-height: 70px;
    background: #f0f0f0;
    font-size: 28px;
    color : #9a9a9a;
    border : 0;
    outline: 0;
    border-radius: 4px;

    &.active{
      color: #fff;
      background: #009200;
    }
  }
}

.radio-wrapper{
    position: fixed;
    top:0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background: black;
    &.hide{
      display: none;
    }

    .icon-close{
      display: block;
      position: absolute;
      z-index: 101;
      top: 20px;
      left: 20px;
      width: 70px;
      height: 70px;
      background: url(../img/close.png);
      background-size: cover;
    }
    iframe{
      position: absolute;
      width: 100%;
      height: 50%;
      top: 50%;
      left: 50%;
      -webkit-transform:translate(-50%,-50%);
      transform:translate(-50%,-50%);
      border:0;
    }
  }